{{#each this}}
  {{#if summary}}
    <details class="modifier" title="{{note}}">
      <summary>{{name}} ({{value}}){{#if note}}*{{/if}}</summary>
      {{summary}}
    </details>{{else}}
    <span class="modifier" title="{{note}}">{{name}}
      ({{value}}){{#if note}}*{{/if}}</span>{{/if}}{{#unless @last}};
  {{/unless}}
{{/each}}
