<td>{{name}}</td>
<td>{{type.name}}</td>
<td>
  {{summary}}{{#each modifiers}};
    {{#if summary}}
      <details class="modifier">
        <summary>{{name}} ({{value}})</summary>
        {{summary}}
      </details>
    {{else}}
      <span class="modifier">{{name}} ({{value}})</span>
    {{/if}}
  {{/each}}
</td>
