<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  <header>
    <div class="names-and-pronouns">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" value="{{actor.name}}" />
      <label for="pronouns">Pronouns</label>
      <input type="text" id="pronouns" value="" disabled />
      <label for="alter-egos">Alter Egos</label>
      <input type="text" id="alter-egos" value="" disabled />
    </div>
    <div class="resources">
      {{#each resources}}
        <div class="resource">
          <label>{{label}}</label>
          {{log @key}}
          {{numberInput value name=path}}
          <span>/</span>
          {{numberInput max name=maxPath}}
        </div>
      {{/each}}
    </div>
  </header>

  <nav class="tab-bar">
    <a class="tab">Characteristics</a>
    <a class="tab">Notes</a>
  </nav>

  <section class="sheet-body">
    <div class="tab characteristics">
      <table class="main-characteristics">
        <thead>
          <tr>
            <th>Char</th>
            <th>Val</th>
            <th>Roll</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each characteristics.main}}
            <tr>
              <td>{{label}}</td>
              <td>
                {{numberInput value name=path}}
              </td>
              <td></td>
              <td></td>
            </tr>
          {{/each}}
          <tr>
            {{#with characteristics.speed}}
              <td>{{label}}</td>
              <td>
                {{numberInput value name=path}}
              </td>
            {{/with}}
            {{#with characteristics.phases}}
              <td>{{label}}</td>
              <td>
                <input type="text" value="{{value}}" disabled />
              </td>
            {{/with}}
          </tr>
        </tbody>
      </table>

      <table class="cvs">
        <thead>
          <tr><th>Char</th> <th>Val</th></tr>
        </thead>
        <tbody>
          {{#each characteristics.cvs}}
            <tr>
              <td>{{label}}</td>
              <td>
                {{numberInput value name=path}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>

      <table class="defenses">
        <thead>
          <tr><th>Char</th> <th>Val</th></tr>
        </thead>
        <tbody>
          {{#each characteristics.defenses}}
            <tr>
              <td>{{label}}</td>
              <td>
                {{numberInput value name=path}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>

      <table>
        <thead>
          <tr><th>Char</th> <th>Cur</th> <th>Max</th></tr>
        </thead>
        <tbody>
          {{#each resources}}
            <tr>
              <td>{{label}}</td>
              <td>
                {{value}}
              </td>
              <td>
                {{max}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>

      <table>
        <thead>
          <tr><th>Movement</th> <th>Val (m)</th></tr>
        </thead>
        <tbody>
          {{#each movements}}
            <tr>
              <td>{{label}}</td>
              <td>{{value}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </section>
</form>
