<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  <header>
    <img
      src="{{actor.img}}"
      data-edit="img"
      title="{{actor.name}}"
      height="64"
      width="64"
    />
    <div class="names-and-pronouns">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" value="{{actor.name}}" />
      <label for="pronouns">Pronouns</label>
      <input
        type="text"
        id="pronouns"
        name="{{bio.pronouns.path}}"
        value="{{bio.pronouns.value}}"
      />
      <label for="alter-egos">Alter Egos</label>
      <input
        type="text"
        id="alter-egos"
        name="{{bio.alterEgos.path}}"
        value="{{bio.alterEgos.value}}"
      />
    </div>
    <div class="resources">
      {{#each resources}}
        <div class="resource">
          <label>{{label}}</label>
          {{numberInput value name=path}}
          <span>/</span>
          {{numberInput max name=maxPath}}
        </div>
      {{/each}}
    </div>
  </header>

  <nav class="tabs">
    <a class="item" data-tab="characteristics">Characteristics</a>
    <a class="item" data-tab="skills">Skills</a>
    <a class="item" data-tab="combat">Combat</a>
    <a class="item" data-tab="notes">Notes</a>
  </nav>

  <section class="sheet-body">
    <div class="tab characteristics" data-tab="characteristics">
      <div class="characteristics">
        <table class="main-characteristics">
          <thead>
            <tr>
              <th>Char</th>
              <th>Val</th>
              <th>Roll</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {{#each characteristics.main}}
              <tr>
                <td>
                  {{#if targetNumber}}
                    <a
                      class="success-roll"
                      data-target-number="{{targetNumber}}"
                    >
                      <i class="fas fa-dice"></i>
                      {{label}}
                    </a>
                  {{else}}
                    {{label}}
                  {{/if}}
                </td>
                <td>
                  {{numberInput value name=path}}
                </td>
                <td></td>
                <td></td>
              </tr>
            {{/each}}
            <tr>
              {{#with characteristics.rec}}
                <td>{{label}}</td>
                <td>{{numberInput value name=path}}</td>
              {{/with}}
            </tr>
            <tr>
              {{#with characteristics.speed}}
                <td>{{label}}</td>
                <td>
                  {{numberInput value name=path}}
                </td>
              {{/with}}
              {{#with characteristics.phases}}
                <td>{{label}}</td>
                <td>
                  <input type="text" name="{{path}}" value="{{value}}" />
                </td>
              {{/with}}
            </tr>
          </tbody>
        </table>

        <table class="cvs">
          <thead>
            <tr><th>Char</th> <th>Val</th></tr>
          </thead>
          <tbody>
            {{#each characteristics.cvs}}
              <tr>
                <td>{{label}}</td>
                <td>
                  {{numberInput value name=path}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>

        <table class="defenses">
          <thead>
            <tr><th>Char</th> <th>Val</th></tr>
          </thead>
          <tbody>
            {{#each characteristics.defenses}}
              <tr>
                <td>{{label}}</td>
                <td>
                  {{numberInput value name=path}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>

        <table>
          <thead>
            <tr><th>Char</th> <th>Cur</th> <th>Max</th></tr>
          </thead>
          <tbody>
            {{#each resources}}
              <tr>
                <td>{{label}}</td>
                <td>
                  {{value}}
                </td>
                <td>
                  {{max}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>

        <table>
          <thead>
            <tr><th>Movement</th> <th>Val (m)</th></tr>
          </thead>
          <tbody>
            {{#each movements}}
              <tr>
                <td>{{label}}</td>
                <td>{{numberInput value name=path}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    <div class="tab skills" data-tab="skills">
      <table class="skills characteristic-based">
        <caption>Characteristic-based Skills</caption>
        <thead>
          <tr>
            <th>Skill</th>
            <th>Char</th>
            <th>Bonus</th>
            <th>Roll</th>
            <th>
              <a class="item-create" data-type="skill">
                <i class="fas fa-plus"></i>
                Add Skill
              </a>
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each skills.characteristic}}
            <tr class="actor-item" data-item-id="{{id}}">
              <td>
                <a
                  class="success-roll"
                  data-target-number="{{targetNumber.value}}"
                >
                  <i class="fas fa-dice"></i>
                  {{name}}
                </a>
              </td>
              <td>{{characteristic}}</td>
              <td>{{numberFormat bonus sign=true}}</td>
              <td>{{targetNumber.label}}</td>
              <td class="item-controls">
                <a class="item-control item-edit" title="Edit Skill">
                  <i class="fas fa-edit"></i>
                </a>
                <a class="item-control item-delete" title="Delete Skill">
                  <i class="fas fa-trash"></i>
                </a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      <table class="skills misc">
        <caption>Miscellaneous Skills</caption>
        <thead>
          <tr>
            <th>Skill</th>
            <th>Roll</th>
            <th>
              <a class="item-create" data-type="skill">
                <i class="fas fa-plus"></i>
                Add Skill
              </a>
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each skills.misc}}
            <tr class="actor-item" data-item-id="{{id}}">
              <td>
                {{#if targetNumber.value}}
                  <a
                    class="success-roll"
                    data-target-number="{{targetNumber.value}}"
                  >
                    <i class="fas fa-dice"></i>
                    {{name}}
                  </a>
                {{else}}
                  {{name}}
                {{/if}}
              </td>
              <td>{{targetNumber.label}}</td>
              <td class="item-controls">
                <a class="item-control item-edit" title="Edit Skill">
                  <i class="fas fa-edit"></i>
                </a>
                <a class="item-control item-delete" title="Delete Skill">
                  <i class="fas fa-trash"></i>
                </a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="tab combat" data-tab="combat">
      <div class="attack-buttons flexrow">
        <button
          class="attack-roll"
          data-label="Attack"
          data-ocv="{{characteristics.cvs.ocv.value}}"
        >
          <i class="fas fa-swords"></i>
          {{combat.attackRoll.label}}
        </button>
        <button
          class="damage-roll"
          data-label=""
          data-dice="2"
          data-damage-type="normal"
        >
          <i class="fas fa-droplet"></i>
          {{combat.damageRoll.label}}
        </button>
      </div>
      <table class="attacks">
        <thead>
          <tr>
            <th>Attack</th>
            <th>Roll</th>
            <th>Effect</th>
            <th>
              <a class="item-create" data-type="attack">
                <i class="fas fa-plus"></i>
                Add Attack
              </a>
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each combat.attacks}}
            <tr class="actor-item" data-item-id="{{id}}">
              <td>
                {{#if ocv}}
                  <a
                    class="attack-roll"
                    data-label="{{label}}"
                    data-ocv="{{ocv.value}}"
                    data-dcv-label="{{dcv.label}}"
                  >
                    <i class="fas fa-dice"></i>
                    {{label}}
                  </a>
                {{else}}
                  {{label}}
                {{/if}}
              </td>
              <td>
                {{#if ocv}}
                  {{ocv.label}}
                  vs.
                  {{dcv.label}}
                {{else}}
                  N/A
                {{/if}}
              </td>
              <td>
                <a
                  class="damage-roll"
                  data-damage-type="{{damageType}}"
                  data-dice="{{dice}}"
                  data-label="{{label}}"
                >
                  <i class="fas fa-dice"></i>
                  {{diceString}}
                </a>
                {{#if defense}}
                  vs.
                  <span class="defense">{{defense}}</span>
                {{/if}}
              </td>
              {{#unless basic}}
                <td class="item-controls">
                  <a class="item-control item-edit" title="Edit Attack">
                    <i class="fas fa-edit"></i>
                  </a>
                  <a class="item-control item-delete" title="Delete Attack">
                    <i class="fas fa-trash"></i>
                  </a>
                </td>
              {{else}}
                <td></td>
              {{/unless}}
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="tab notes flexcol" data-tab="notes">
      {{editor
        bio.notes.value
        target=bio.notes.path
        button=true
        editable=editable
      }}
    </div>
  </section>
</form>
