<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  <header>
    <img
      src="{{actor.img}}"
      data-edit="img"
      title="{{actor.name}}"
      height="64"
      width="64"
    />
    <div class="names-and-pronouns">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" value="{{actor.name}}" />
      <label for="pronouns">Pronouns</label>
      <input
        type="text"
        id="pronouns"
        name="{{bio.pronouns.path}}"
        value="{{bio.pronouns.value}}"
      />
      <label for="alter-egos">Alter Egos</label>
      <input
        type="text"
        id="alter-egos"
        name="{{bio.alterEgos.path}}"
        value="{{bio.alterEgos.value}}"
      />
    </div>
    <div class="hap">
      <label>
        <a class="hap-roll">
          <i class="fas fa-dice"></i>
          {{hap.label}}
        </a>
      </label>
      {{numberInput hap.value name=hap.path}}
    </div>
    <div class="resources">
      {{#each resources}}
        <div class="resource">
          <label>{{label}}</label>
          {{numberInput value name=path}}
          <span>/</span>
          {{numberInput max name=maxPath}}
        </div>
      {{/each}}
    </div>
  </header>

  <nav class="tabs">
    <a class="item" data-tab="characteristics">Characteristics</a>
    <a class="item" data-tab="skills">Skills</a>
    <a class="item" data-tab="powers">Powers</a>
    <a class="item" data-tab="combat">Combat</a>
    <a class="item" data-tab="notes">Notes</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  <section class="sheet-body">
    <div class="tab characteristics" data-tab="characteristics">
      <div class="characteristics">
        <table class="main-characteristics">
          <thead>
            <tr>
              <th>Char</th>
              <th>Base</th>
              <th>Mod</th>
              <th>Total</th>
              <th>Roll/etc.</th>
            </tr>
          </thead>
          <tbody>
            {{#each characteristics.main}}
              <tr>
                <td>
                  {{#if targetNumber}}
                    <a
                      class="success-roll"
                      data-target-number="{{targetNumber}}"
                    >
                      <i class="fas fa-dice"></i>
                      {{label}}
                    </a>
                  {{else}}
                    {{label}}
                  {{/if}}
                </td>
                <td>
                  {{numberInput value name=path}}
                </td>
                <td>{{numberInput modifier name=modifierPath}}</td>
                <td>{{total}}</td>
                <td>
                  {{#each derivedAttributes}}{{#if @index}},{{/if}}
                    {{label}}
                    {{value}}{{/each}}
                </td>
              </tr>
            {{/each}}
            <tr>
              {{#with characteristics.rec}}
                <td>{{label}}</td>
                <td>{{numberInput value name=path}}</td>
                <td>{{numberInput modifier name=modifierPath}}</td>
                <td>{{total}}</td>
              {{/with}}
            </tr>
            <tr>
              {{#with characteristics.speed}}
                <td>{{label}}</td>
                <td>
                  {{numberInput value name=path}}
                </td>
                <td>{{numberInput modifier name=modifierPath}}</td>
                <td>{{total}}</td>
              {{/with}}
              {{#with characteristics.phases}}
                <td>{{label}} {{value}}</td>
              {{/with}}
            </tr>
          </tbody>
        </table>

        <table class="cvs">
          <thead>
            <tr><th>Char</th> <th>Base</th> <th>Mod</th> <th>Total</th></tr>
          </thead>
          <tbody>
            {{#each characteristics.cvs}}
              <tr>
                <td>{{label}}</td>
                <td>
                  {{numberInput value name=path}}
                </td>
                <td>{{numberInput modifier name=modifierPath}}</td>
                <td>{{total}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>

        <table class="defenses">
          <thead>
            <tr><th>Char</th> <th>Base</th> <th>Mod</th> <th>Total</th></tr>
          </thead>
          <tbody>
            {{#each characteristics.defenses}}
              <tr>
                <td>{{label}}</td>
                <td>
                  {{numberInput value name=path}}
                </td>
                <td>{{numberInput modifier name=modifierPath}}</td>
                <td>{{total}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>

        <table>
          <thead>
            <tr><th>Char</th> <th>Cur</th> <th>Max</th></tr>
          </thead>
          <tbody>
            {{#each resources}}
              <tr>
                <td>{{label}}</td>
                <td>
                  {{value}}
                </td>
                <td>
                  {{max}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>

        <table>
          <thead>
            <tr><th>Movement</th>
              <th>Base (m)</th>
              <th>Mod (m)</th>
              <th>Total (m)</th></tr>
          </thead>
          <tbody>
            {{#each movements}}
              {{#if id}}
                <tr class="actor-item" data-item-id="{{id}}">
                  <td>
                    <span title="{{tooltip}}">{{label}}</span>
                    <span class="item-controls">
                      <a
                        class="item-control item-edit"
                        title="Edit Movement Power"
                      ><i class="fas fa-edit"></i></a>
                    </span>
                  </td>
                  <td>{{value}}</td>
                  <td>{{modifier}}</td>
                  <td>{{total}}</td>
                </tr>
              {{else}}
                <tr>
                  <td><span title="{{tooltip}}">{{label}}</span></td>
                  <td>{{numberInput value name=path}}</td>
                  <td>{{numberInput modifier name=modifierPath}}</td>
                  <td>{{total}}</td>
                </tr>
              {{/if}}
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    <div class="tab skills" data-tab="skills">
      <table class="skills background">
        <caption>Background Skills</caption>
        <thead>
          <tr>
            <th>Skill</th>
            <th>Char</th>
            <th>Bonus</th>
            <th>Roll</th>
            <th>
              <a class="item-create" data-type="skill">
                <i class="fas fa-plus"></i>
                Add Skill
              </a>
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each skills.background}}
            <tr class="actor-item" data-item-id="{{id}}">
              <td>
                <a
                  class="success-roll"
                  data-target-number="{{targetNumber.value}}"
                >
                  <i class="fas fa-dice"></i>
                  {{name}}
                </a>
              </td>
              <td>{{characteristic}}</td>
              <td>
                {{#if level}}
                  {{level}}
                {{else}}
                  {{numberFormat bonus sign=true}}
                {{/if}}
              </td>
              <td>{{targetNumber.label}}</td>
              <td class="item-controls">
                <a class="item-control item-edit" title="Edit Skill">
                  <i class="fas fa-edit"></i>
                </a>
                <a class="item-control item-delete" title="Delete Skill">
                  <i class="fas fa-trash"></i>
                </a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      <table class="skills characteristic-based">
        <caption>Characteristic-based Skills</caption>
        <thead>
          <tr>
            <th>Skill</th>
            <th>Char</th>
            <th>Bonus</th>
            <th>Roll</th>
            <th>
              <a class="item-create" data-type="skill">
                <i class="fas fa-plus"></i>
                Add Skill
              </a>
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each skills.characteristic}}
            <tr class="actor-item" data-item-id="{{id}}">
              <td>
                <a
                  class="success-roll"
                  data-target-number="{{targetNumber.value}}"
                >
                  <i class="fas fa-dice"></i>
                  {{name}}
                </a>
              </td>
              <td>{{characteristic}}</td>
              <td>
                {{#if level}}
                  {{level}}
                {{else}}
                  {{numberFormat bonus sign=true}}
                {{/if}}
              </td>
              <td>{{targetNumber.label}}</td>
              <td class="item-controls">
                <a class="item-control item-edit" title="Edit Skill">
                  <i class="fas fa-edit"></i>
                </a>
                <a class="item-control item-delete" title="Delete Skill">
                  <i class="fas fa-trash"></i>
                </a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      <table class="skills misc">
        <caption>Miscellaneous Skills</caption>
        <thead>
          <tr>
            <th>Skill</th>
            <th>Roll</th>
            <th>
              <a class="item-create" data-type="skill">
                <i class="fas fa-plus"></i>
                Add Skill
              </a>
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each skills.misc}}
            <tr class="actor-item" data-item-id="{{id}}">
              <td>
                {{#if targetNumber.value}}
                  <a
                    class="success-roll"
                    data-target-number="{{targetNumber.value}}"
                  >
                    <i class="fas fa-dice"></i>
                    {{name}}
                  </a>
                {{else}}
                  {{name}}
                {{/if}}
              </td>
              <td>{{targetNumber.label}}</td>
              <td class="item-controls">
                <a class="item-control item-edit" title="Edit Skill">
                  <i class="fas fa-edit"></i>
                </a>
                <a class="item-control item-delete" title="Delete Skill">
                  <i class="fas fa-trash"></i>
                </a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      <table class="skills skill-levels">
        <caption>Skill Levels</caption>
        <thead>
          <tr>
            <th>Amount</th>
            <th>Skill Level</th>
            <th>
              <a class="item-create" data-type="skill">
                <i class="fas fa-plus"></i>
                Add Skill
              </a>
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each skills.skillLevel}}
            <tr class="actor-item" data-item-id="{{id}}">
              <td>{{amount}}</td>
              <td>{{name}}</td>
              <td class="item-controls">
                <a class="item-control item-edit" title="Edit Skill">
                  <i class="fas fa-edit"></i>
                </a>
                <a class="item-control item-delete" title="Delete Skill">
                  <i class="fas fa-trash"></i>
                </a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="tab powers" data-tab="powers">
      <table>
        <thead>
          <tr>
            <th title="Real Points [Active Points]">CP</th>
            <th>Name</th>
            <th>Power</th>
            <th>Summary</th>
            <th>Value</th>
            <th>
              <a class="item-create" data-type="power">
                <i class="fas fa-plus"></i>
                Add Power
              </a>
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each powers}}
            <tr class="actor-item" data-item-id="{{id}}">
              <td>
                {{partial "item/partials/real-active-cost.hbs" this}}
              </td>
              {{partial "item/partials/power-data.hbs" this}}
              <td class="item-controls">
                <a class="item-control item-edit" title="Edit Power">
                  <i class="fas fa-edit"></i>
                </a>
                <a class="item-control item-delete" title="Delete Power">
                  <i class="fas fa-trash"></i>
                </a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>

      <section class="multipowers">
        <p>
          <a class="item-create" data-type="multipower">
            <i class="fas fa-plus"></i>
            Add Multipower
          </a>
        </p>
        {{#each multipowers}}
          <table class="multipower framework" data-item-id="{{id}}">
            <caption>
              <div class="framework-cost">{{realCost}}</div>
              <div>
                <b>Multipower:</b>
                {{name}}
                {{#if warnings}}
                  <span class="reserve warning" title="{{warnings}}">
                    {{allocatedReserve}}
                    /
                    {{reserve}}
                  </span>
                {{else}}
                  <span class="reserve">
                    {{allocatedReserve}}
                    /
                    {{reserve}}
                  </span>
                {{/if}}
                <span class="item-controls">
                  <a class="item-control item-edit" title="Edit Framework">
                    <i class="fas fa-edit"></i>
                  </a>
                  <a class="item-control item-delete" title="Delete Framework">
                    <i class="fas fa-trash"></i>
                  </a>
                </span>
              </div>
              {{partial
                "actor/partials/framework-modifiers-summary.hbs"
                modifiers
              }}
            </caption>
            <thead>
              <tr>
                <th>CP</th>
                <th>Name</th>
                <th>Power</th>
                <th>Summary</th>
                <th>Value</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              {{#each slots}}
                <tr class="framework-slot">
                  <td>
                    {{partial "item/partials/real-active-cost.hbs" this}}
                    <span class="slot-type">{{type}}</span>
                  </td>
                  {{partial "item/partials/power-data.hbs" power}}
                  <td class="slot-status">
                    {{#if isFixed}}
                      <input
                        type="checkbox"
                        {{checked isActive}}
                        class="slot-is-active"
                        data-slot-id="{{id}}"
                      />
                      {{#if warnings}}
                        <span class="warning" title="{{warnings}}">
                          ({{fullCost}})
                        </span>
                      {{else}}
                        <span>({{fullCost}})</span>
                      {{/if}}
                    {{else}}
                      {{#if warnings}}
                        <span class="warning" title="{{warnings}}">
                          <input
                            class="slot-allocated-cost"
                            type="number"
                            value="{{allocatedCost}}"
                            data-slot-id="{{id}}"
                            min="0"
                            max="{{fullCost}}"
                          />
                          /
                          <input disabled type="number" value="{{fullCost}}" />
                        </span>
                      {{else}}
                        <input
                          class="slot-allocated-cost"
                          type="number"
                          value="{{allocatedCost}}"
                          data-slot-id="{{id}}"
                          min="0"
                          max="{{fullCost}}"
                        />
                        /
                        <input disabled type="number" value="{{fullCost}}" />
                      {{/if}}
                    {{/if}}
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        {{/each}}
      </section>

      <section class="vpps">
        <p>
          <a class="item-create" data-type="vpp">
            <i class="fas fa-plus"></i>
            Add VPP
          </a>
        </p>
        {{#each vpps}}
          <table class="vpp framework" data-item-id="{{id}}">
            <caption>
              <div>
                <b>VPP:</b>
                {{name}}
                {{#if warnings}}
                  <span class="pool warning" title="{{warnings}}">
                    {{allocatedPool}}
                    /
                    {{pool}}
                  </span>

                  <span class="control warning" title="{{warnings}}">
                    <b>Control:</b>
                    {{control}}
                  </span>
                {{else}}
                  <span class="pool">
                    {{allocatedPool}}
                    /
                    {{pool}}
                  </span>
                  <span class="control">
                    <b>Control:</b>
                    {{control}}
                  </span>
                {{/if}}
                <span class="item-controls">
                  <a class="item-control item-edit" title="Edit Framework">
                    <i class="fas fa-edit"></i>
                  </a>
                  <a class="item-control item-delete" title="Delete Framework">
                    <i class="fas fa-trash"></i>
                  </a>
                </span>
              </div>
              {{partial
                "actor/partials/framework-modifiers-summary.hbs"
                modifiers
              }}
            </caption>
            <thead>
              <tr>
                <th>Name</th>
                <th>Power</th>
                <th>Summary</th>
                <th>Value</th>
                <th>AP</th>
                <th>Real</th>
              </tr>
            </thead>
            <tbody>
              {{#each slots}}
                <tr class="framework-slot">
                  {{partial "item/partials/power-data.hbs" power}}
                  <td class="slot-status">
                    {{#if warnings}}
                      <span class="warning" title="{{warnings}}">
                        <input
                          class="slot-allocated-cost"
                          type="number"
                          value="{{allocatedCost}}"
                          data-slot-id="{{id}}"
                          min="0"
                          max="{{fullCost}}"
                        />
                        /
                        <input disabled type="number" value="{{fullCost}}" />
                      </span>
                    {{else}}
                      <input
                        class="slot-allocated-cost"
                        type="number"
                        value="{{allocatedCost}}"
                        data-slot-id="{{id}}"
                        min="0"
                        max="{{fullCost}}"
                      />
                      /
                      <input disabled type="number" value="{{fullCost}}" />
                    {{/if}}
                  </td>
                  <td class="slot-status">
                    {{#if warnings}}
                      <span class="warning" title="{{warnings}}">
                        <input
                          class="slot-allocated-real-cost"
                          type="number"
                          value="{{allocatedRealCost}}"
                          data-slot-id="{{id}}"
                          min="0"
                          max="{{realCost}}"
                          disabled
                        />
                        /
                        <input disabled type="number" value="{{realCost}}" />
                      </span>
                    {{else}}
                      <input
                        class="slot-allocated-real-cost"
                        type="number"
                        value="{{allocatedRealCost}}"
                        data-slot-id="{{id}}"
                        min="0"
                        max="{{realCost}}"
                        disabled
                      />
                      /
                      <input disabled type="number" value="{{realCost}}" />
                    {{/if}}
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        {{/each}}
      </section>
    </div>
    <div class="tab combat" data-tab="combat">
      <div class="attack-buttons flexrow">
        <button
          class="attack-roll"
          data-label="Attack"
          data-ocv="{{characteristics.cvs.ocv.total}}"
        >
          <i class="fas fa-swords"></i>
          {{combat.attackRoll.label}}
        </button>
        <button
          class="damage-roll"
          data-label=""
          data-dice="2"
          data-ap-per-die="5"
          data-damage-type="normal"
        >
          <i class="fas fa-droplet"></i>
          {{combat.damageRoll.label}}
        </button>
      </div>
      <table class="attacks">
        <thead>
          <tr>
            <th>Attack</th>
            <th>Roll</th>
            <th>Effect</th>
            <th>
              <a class="item-create" data-type="attack">
                <i class="fas fa-plus"></i>
                Add Attack
              </a>
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each combat.attacks}}
            <tr class="actor-item" data-item-id="{{id}}">
              <td>
                {{#if ocv}}
                  <a
                    class="attack-roll"
                    data-label="{{label}}"
                    data-ocv="{{ocv.value}}"
                    data-dcv-label="{{dcv.label}}"
                  >
                    <i class="fas fa-dice"></i>
                    {{label}}
                  </a>
                {{else}}
                  {{label}}
                {{/if}}
              </td>
              <td>
                {{#if ocv}}
                  {{ocv.label}}
                  vs.
                  {{dcv.label}}
                {{else}}
                  N/A
                {{/if}}
              </td>
              <td>
                <a
                  class="damage-roll"
                  data-damage-type="{{damageType}}"
                  data-dice="{{dice}}"
                  data-ap-per-die="{{apPerDie}}"
                  data-label="{{label}}"
                >
                  <i class="fas fa-dice"></i>
                  {{diceString}}
                </a>
                {{#if defense}}
                  vs.
                  <span class="defense">{{defense}}</span>
                {{/if}}
              </td>
              {{#unless basic}}
                <td class="item-controls">
                  <a class="item-control item-edit" title="Edit Attack">
                    <i class="fas fa-edit"></i>
                  </a>
                  <a class="item-control item-delete" title="Delete Attack">
                    <i class="fas fa-trash"></i>
                  </a>
                </td>
              {{else}}
                <td></td>
              {{/unless}}
            </tr>
          {{/each}}
        </tbody>
      </table>

      <table class="maneuvers">
        <thead>
          <tr>
            <th>Maneuver</th>
            <th>Phase</th>
            <th>OCV</th>
            <th>DCV</th>
            <th>Effects</th>
            <th>
              <a class="item-create" data-type="maneuver">
                <i class="fas fa-plus"></i>
                Add Maneuver
              </a>
            </th>
          </tr>
        </thead>
        <tbody>
          {{#each combat.maneuvers}}
            <tr class="actor-item" data-item-id="{{id}}">
              <td>
                {{#if roll}}
                  <a
                    class="attack-roll maneuver"
                    data-label="{{name}}"
                    data-ocv="{{roll.ocv}}"
                    data-maneuver-modifier-label="{{roll.modifierLabel}}"
                    data-maneuver-id="{{id}}"
                    data-maneuver-name="{{name}}"
                  >
                    <i class="fas fa-dice"></i>
                    {{name}}
                  </a>
                {{else if id}}
                  <a
                    class="activate-maneuver"
                    data-maneuver-id="{{id}}"
                  >{{name}}</a>
                {{else}}
                  <a class="activate-maneuver" data-maneuver-name="{{name}}">
                    {{#if icon}}
                      <i class="fas fa-{{icon}}"></i>
                    {{/if}}
                    {{name}}</a>
                {{/if}}
              </td>
              <td>{{time}}</td>
              {{#if ocvTooltip}}
                <td title="{{ocvTooltip}}">{{ocv}}</td>
              {{else}}
                <td>{{ocv}}</td>
              {{/if}}
              <td>{{dcv}}</td>
              <td>{{effects}}</td>
              {{#if id}}
                <td class="item-controls">
                  <a class="item-control item-edit" title="Edit Maneuver">
                    <i class="fas fa-edit"></i>
                  </a>
                  <a class="item-control item-delete" title="Delete Maneuver">
                    <i class="fas fa-trash"></i>
                  </a>
                </td>
              {{else}}
                <td></td>
              {{/if}}
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="tab notes flexcol" data-tab="notes">
      {{editor
        bio.notes.value
        target=bio.notes.path
        button=true
        editable=editable
      }}
    </div>

    <div class="tab effect" data-tab="effects">
      <table>
        <thead>
          <tr><th>Name</th> <th>Description</th> <th></th></tr>
        </thead>
        <tbody>
          {{#each effects}}
            <tr data-effect-id="{{id}}">
              <td>{{name}}</td>
              <td>{{summary}}</td>
              <td class="item-controls">
                <a class="item-control item-delete" title="Cancel Effect">
                  <i class="fas fa-xmark"></i>
                </a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </section>
</form>
