<label>{{label}}</label>
{{#unless readonly}}
  <input name="{{path}}" type="checkbox" {{checked value}} />
{{else}}
  <input name="{{path}}" type="checkbox" {{checked value}} disabled />
{{/unless}}
