<section
  class="{{cssClass}} directory flexcol"
  id="{{cssId}}"
  data-tab="{{tabName}}"
>
  <header class="combat-tracker-header">
    {{#if user.isGM}}
      <nav class="encounters flexrow" aria-label="COMBAT.NavLabel">
        <a class="combat-button combat-create" data-tooltip="COMBAT.Create">
          <i class="fas fa-plus"></i>
        </a>
        {{#if combatCount}}
          {{#if previousId}}
            <a
              class="combat-button combat-cycle"
              data-tooltip="COMBAT.EncounterPrevious"
              data-document-id="{{previousId}}"
            >
              <i class="fas fa-caret-left"></i>
            </a>
          {{else}}
            <a
              class="combat-button combat-cycle"
              data-tooltip="COMBAT.EncounterPrevious"
              disabled
            >
              <i class="fas fa-caret-left"></i>
            </a>
          {{/if}}
          <h4 class="encounter">{{localize "COMBAT.Encounter"}}
            {{currentIndex}}
            /
            {{combatCount}}</h4>
          {{#if nextId}}
            <a
              class="combat-button combat-cycle"
              data-tooltip="COMBAT.EncounterNext"
              data-document-id="{{nextId}}"
            >
              <i class="fas fa-caret-right"></i>
            </a>
          {{else}}
            <a
              class="combat-button combat-cycle"
              data-tooltip="COMBAT.EncounterNext"
              disabled
            >
              <i class="fas fa-caret-right"></i>
            </a>
          {{/if}}
        {{/if}}
        <a
          class="combat-button combat-control"
          data-tooltip="COMBAT.Delete"
          data-control="endCombat"
          {{disabled (not combatCount)}}
        >
          <i class="fas fa-trash"></i>
        </a>
      </nav>
    {{/if}}

    <div class="encounter-controls flexrow {{combatClass}}">
      {{#if user.isGM}}
        <a
          class="combat-button combat-control"
          data-tooltip="COMBAT.RollAll"
          data-control="rollAll"
          {{disabled (not turns)}}
        >
          <i class="fas fa-users"></i>
        </a>
        <a
          class="combat-button combat-control"
          data-tooltip="COMBAT.RollNPC"
          data-control="rollNPC"
          {{disabled (not turns)}}
        >
          <i class="fas fa-users-cog"></i>
        </a>
        <a
          class="combat-button combat-control"
          data-tooltip="Update Phases"
          data-control="updatePhases"
          {{disabled (not hasSpdChanges)}}
        >
          <i class="fas fa-arrows-rotate"></i>
        </a>
      {{/if}}

      {{#if combatCount}}
        {{#if combat.round}}
          <h3 class="encounter-title noborder">{{localize "COMBAT.Round"}}
            {{combat.round}}</h3>
        {{else}}
          <h3 class="encounter-title noborder">{{localize
              "COMBAT.NotStarted"
            }}</h3>
        {{/if}}
      {{else}}
        <h3 class="encounter-title noborder">{{localize "COMBAT.None"}}</h3>
      {{/if}}

      {{#if user.isGM}}
        <a
          class="combat-button combat-control"
          data-tooltip="COMBAT.InitiativeReset"
          data-control="resetAll"
          {{disabled (not hasCombat)}}
        >
          <i class="fas fa-undo"></i>
        </a>
        <a
          class="combat-button combat-control"
          data-tooltip="{{labels.scope}}"
          data-control="toggleSceneLink"
          {{disabled (not hasCombat)}}
        >
          {{#if linked}}
            <i class="fas fa-link"></i>
          {{else}}
            <i class="fas fa-unlink"></i>
          {{/if}}
        </a>
        <a
          class="combat-button combat-settings"
          data-tooltip="COMBAT.Settings"
          data-control="trackerSettings"
        >
          <i class="fas fa-cog"></i>
        </a>
      {{/if}}
    </div>
  </header>

  <div id="combat-tracker" class="directory-list">
    <table>
      <thead>
        <tr>
          <th title="Dexterity (and tiebreak roll, if necessary)">DEX</th>
          <th><!--image--></th>
          <th>Name</th>
          <th class="body">BODY</th>
          <th class="stun">STUN</th>
          <th class="end">END</th>
        </tr>
      </thead>
      {{#each segments as |segment|}}
        <tbody>
          <tr class="segment-header">
            <td colspan="6">Segment {{segment.number}}</td>
          </tr>
          {{#each segment.combatants}}
            <tr
              class="combatant actor directory-item {{css}}"
              data-combatant-id="{{id}}"
            >
              <td>{{dex}}{{#if initiative}}/{{initiative}}{{/if}}</td>
              <td><img src="{{img}}" height="64" width="64" /></td>
              <td>{{name}}</td>
              <td class="body">{{body}}</td>
              <td class="stun">{{stun}}</td>
              <td class="end">{{end}}</td>
            </tr>
          {{/each}}
        </tbody>
      {{/each}}
      {{#if segments}}
        <tbody>
          <tr class="segment-header">
            <td colspan="6">Post-Segment 12 Recovery</td>
          </tr>
        </tbody>
      {{/if}}
    </table>
  </div>

  <!-- TODO: adjust wording -->
  <nav
    id="combat-controls"
    class="directory-footer flexrow"
    data-tooltip-direction="UP"
  >
    {{#if hasCombat}}
      {{#if user.isGM}}
        {{#if round}}
          <a
            class="combat-control"
            data-tooltip="COMBAT.RoundPrev"
            data-control="previousRound"
          ><i class="fas fa-step-backward"></i></a>
          <a
            class="combat-control"
            data-tooltip="COMBAT.TurnPrev"
            data-control="previousTurn"
          ><i class="fas fa-arrow-left"></i></a>
          <a class="combat-control center" data-control="endCombat">{{localize
              "COMBAT.End"
            }}</a>
          <a
            class="combat-control"
            data-tooltip="COMBAT.TurnNext"
            data-control="nextTurn"
          ><i class="fas fa-arrow-right"></i></a>
          <a
            class="combat-control"
            data-tooltip="COMBAT.RoundNext"
            data-control="nextRound"
          ><i class="fas fa-step-forward"></i></a>
        {{else}}
          <a class="combat-control center" data-control="startCombat">{{localize
              "COMBAT.Begin"
            }}</a>
        {{/if}}
      {{else if control}}
        <a
          class="combat-control"
          data-tooltip="COMBAT.TurnPrev"
          data-control="previousTurn"
        ><i class="fas fa-arrow-left"></i></a>
        <a class="combat-control center" data-control="nextTurn">{{localize
            "COMBAT.TurnEnd"
          }}</a>
        <a
          class="combat-control"
          data-tooltip="COMBAT.TurnNext"
          data-control="nextTurn"
        ><i class="fas fa-arrow-right"></i></a>
      {{/if}}
    {{/if}}
  </nav>

</section>
