<form class="{{cssClass}} item {{item.type}}" autocomplete="off">
  <header>
    <img
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"
      height="64"
      width="64"
    />
    <div class="name">
      <input type="text" id="name" name="name" value="{{item.name}}" />
    </div>
  </header>

  <nav class="tabs">
    <a class="item" data-tab="attributes">Attributes</a>
    <a class="item" data-tab="description">Description</a>
  </nav>

  <section class="sheet-body">
    <div class="tab attributes" data-tab="attributes">
      <p>
        {{field attributes.cv.offensive}}
        {{field attributes.cv.defensive}}
      </p>
      <p>
        {{field attributes.damage.dice}}
      </p>
      <p>
        {{field attributes.damage.type}}
      </p>
      <p>
        {{field attributes.defense}}
      </p>
    </div>
    <div class="tab notes flexcol" data-tab="description">
      {{field bio.description editable=editable}}
    </div>
  </section>
</form>
