<form class="{{cssClass}} item {{item.type}}" autocomplete="off">
  <header>
    <img
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"
      height="64"
      width="64"
    />
    <div class="name">
      <input type="text" id="name" name="name" value="{{item.name}}" />
    </div>
  </header>

  <nav class="tabs">
    <a class="item" data-tab="attributes">Attributes</a>
    <a class="item" data-tab="description">Description</a>
  </nav>

  <section class="sheet-body">
    <div class="tab attributes" data-tab="attributes">
      {{#with attributes.ocv}}
        <p>
          {{field type}}
          {{#if (eq type.value "plus/minus")}}
            {{field value}}
          {{/if}}
          {{#if (eq type.value "special")}}
            {{field label}}
          {{/if}}
        </p>
      {{/with}}
      {{#with attributes.dcv}}
        <p>
          {{field type}}
          {{#if (eq type.value "plus/minus")}}
            {{field value}}
          {{/if}}
          {{#if (eq type.value "special")}}
            {{field label}}
          {{/if}}
        </p>
      {{/with}}
      <p>
        {{field attributes.time}}
      </p>
      <p>
        {{field attributes.summary}}
      </p>
    </div>
    <div class="tab notes flexcol" data-tab="description">
      {{field bio.description editable=editable}}
    </div>
  </section>
</form>
