<form class="{{cssClass}} item {{item.type}}" autocomplete="off">
  <header>
    <img
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"
      height="64"
      width="64"
    />
    <div class="name">
      <input type="text" id="name" name="name" value="{{item.name}}" />
    </div>
  </header>

  <nav class="tabs">
    <a class="item" data-tab="attributes">Attributes</a>
    <a class="item" data-tab="modifiers">Modifiers</a>
    <a class="item" data-tab="description">Description</a>
  </nav>

  <section class="sheet-body">
    <div class="tab attributes" data-tab="attributes">
      <p>
        {{field attributes.type.isStandard}}
      </p>
      <p>
        {{field attributes.type.name}}
      </p>
      <p>
        {{field attributes.summary}}
      </p>
      <section>
        <h2>Power Categories?</h2>
        <p>
          {{#each categories}}
            {{field this}}
          {{/each}}
        </p>
        {{#if categories.movement.value}}
          <section class="category movement">
            <h3>Movement Power</h3>
            <p>
              {{field movement.distance.value}}
            </p>
            <p>
              {{field movement.distance.modifier}}
            </p>
          </section>
        {{/if}}
      </section>
    </div>
    <div class="tab modifiers" data-tab="modifiers">
      <table class="adders">
        <thead>
          <tr><th>Adder</th>
            <th>Value</th>
            <th>Summary</th>
            <th>Description</th>
            <th></th></tr>
        </thead>
        <tbody>
          {{#each modifiers.adders}}
            <tr>
              <td><input
                  type="text"
                  value="{{name.value}}"
                  name="{{name.path}}"
                /></td>
              <td><input
                  type="number"
                  min="0"
                  value="{{value.value}}"
                  name="{{value.path}}"
                /></td>
              <td><input
                  type="text"
                  value="{{summary.value}}"
                  name="{{summary.path}}"
                /></td>
              <td>
                {{editor
                  description.value
                  target=description.path
                  button=true
                  editable=true
                }}
              </td>
              <td><a
                  class="modifier-delete"
                  data-id="{{id}}"
                  data-type="adders"
                  title="Delete Modifier"
                ><i class="fas fa-trash"></i></a></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      <p><a class="modifier-create" data-type="adders"><i
            class="fas fa-plus"
          ></i>
          Add Adder</a></p>
      <table class="advantages">
        <thead>
          <tr><th>Advantage</th>
            <th>Value</th>
            <th>Damage?</th>
            <th>Summary</th>
            <th>Description</th>
            <th></th></tr>
        </thead>
        <tbody>
          {{#each modifiers.advantages}}
            <tr>
              <td><input
                  type="text"
                  value="{{name.value}}"
                  name="{{name.path}}"
                /></td>
              <td><input
                  type="number"
                  min="0"
                  value="{{value.value}}"
                  name="{{value.path}}"
                /></td>
              <td><input
                  type="checkbox"
                  {{checked increasesDamage.value}}
                  name="{{increasesDamage.path}}"
                /></td>
              <td><input
                  type="text"
                  value="{{summary.value}}"
                  name="{{summary.path}}"
                /></td>
              <td>
                {{editor
                  description.value
                  target=description.path
                  button=true
                  editable=true
                }}
              </td>
              <td><a
                  class="modifier-delete"
                  data-id="{{id}}"
                  data-type="advantages"
                  title="Delete Modifier"
                ><i class="fas fa-trash"></i></a></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      <p><a class="modifier-create" data-type="advantages"><i
            class="fas fa-plus"
          ></i>
          Add Advantage</a></p>
      <table class="limitations">
        <thead>
          <tr><th>Limitation</th>
            <th>Value</th>
            <th>Summary</th>
            <th>Description</th>
            <th></th></tr>
        </thead>
        <tbody>
          {{#each modifiers.limitations}}
            <tr>
              <td><input
                  type="text"
                  value="{{name.value}}"
                  name="{{name.path}}"
                /></td>
              <td><input
                  type="number"
                  max="0"
                  value="{{value.value}}"
                  name="{{value.path}}"
                /></td>
              <td><input
                  type="text"
                  value="{{summary.value}}"
                  name="{{summary.path}}"
                /></td>
              <td>
                {{editor
                  description.value
                  target=description.path
                  button=true
                  editable=true
                }}
              </td>
              <td><a
                  class="modifier-delete"
                  data-id="{{id}}"
                  data-type="limitations"
                  title="Delete Modifier"
                ><i class="fas fa-trash"></i></a></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      <p><a class="modifier-create" data-type="limitations"><i
            class="fas fa-plus"
          ></i>
          Add Limitation</a></p>
    </div>
    <div class="tab notes flexcol" data-tab="description">
      {{field bio.description editable=editable}}
    </div>
  </section>
</form>
