<form class="{{cssClass}} item {{item.type}}" autocomplete="off">
  <header>
    <img
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"
      height="64"
      width="64"
    />
    <div class="name">
      <input type="text" id="name" name="name" value="{{item.name}}" />
    </div>
  </header>

  <nav class="tabs">
    <a class="item" data-tab="attributes">Attributes</a>
    <a class="item" data-tab="description">Description</a>
  </nav>

  <section class="sheet-body">
    <div class="tab attributes" data-tab="attributes">
      <p>
        {{#with attributes.type}}
          <label>{{label}}</label>
          <select name="{{path}}">
            {{selectOptions options selected=value}}
          </select>
        {{/with}}
      </p>
      {{log attributes}}
      {{#if (eq attributes.type.value "misc")}}
        <p>
          {{#with attributes.targetNumber}}
            <label>{{label}}</label>
            {{numberInput value name=path}}
          {{/with}}
        </p>
      {{/if}}
      {{#if (eq attributes.type.value "characteristic")}}
        <p>
          {{#with attributes.characteristic}}
            <label>{{label}}</label>
            <select name="{{path}}">
              {{selectOptions options selected=value}}
            </select>
          {{/with}}
        </p>
        <p>
          {{#with attributes.level}}
            <label>{{label}}</label>
            <select name="{{path}}">
              {{selectOptions options selected=value}}
            </select>
          {{/with}}
        </p>
        <p>
          {{#with attributes.bonus}}
            <label>{{label}}</label>
            {{numberInput value name=path}}
          {{/with}}
        </p>
        <p>
          {{#with attributes.targetNumber}}
            <label>{{label}}:</label>
            {{value}}
          {{/with}}
        </p>
      {{/if}}
    </div>
    <div class="tab notes flexcol" data-tab="description">
      {{editor
        bio.description.value
        target=bio.description.path
        button=true
        editable=editable
      }}
    </div>
  </section>
</form>
