<form class="{{cssClass}} item {{item.type}}" autocomplete="off">
  <header>
    <img
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"
      height="64"
      width="64"
    />
    <div class="name">
      <input type="text" id="name" name="name" value="{{item.name}}" />
    </div>
  </header>

  <nav class="tabs">
    <a class="item" data-tab="attributes">Attributes</a>
    <a class="item" data-tab="description">Description</a>
  </nav>

  <section class="sheet-body">
    <div class="tab attributes" data-tab="attributes">
      <p>
        {{field attributes.type}}
      </p>
      {{#if (eq attributes.type.value "misc")}}
        <p>
          {{field attributes.targetNumber}}
        </p>
      {{/if}}
      {{#if (eq attributes.type.value "background")}}
        <p>
          {{field attributes.backgroundType}}
        </p>
        <p>
          {{field attributes.level}}
        </p>
        {{#if (eq attributes.level.value "characteristic")}}
          <p>
            {{field attributes.characteristic}}
          </p>
        {{/if}}
        <p>
          {{field attributes.bonus}}
        </p>
        <p>
          {{field attributes.targetNumber}}
        </p>
      {{/if}}
      {{#if (eq attributes.type.value "characteristic")}}
        <p>
          {{field attributes.characteristic}}
        </p>
        <p>
          {{field attributes.level}}
        </p>
        <p>
          {{field attributes.bonus}}
        </p>
        <p>
          {{field attributes.targetNumber}}
        </p>
      {{/if}}
      {{#if (eq attributes.type.value "skillLevel")}}
        <p>
          {{field attributes.skillLevel.class}}
        </p>
        <p>
          {{field attributes.skillLevel.type}}
        </p>
        <p>
          {{field attributes.skillLevel.amount}}
        </p>
      {{/if}}
    </div>
    <div class="tab notes flexcol" data-tab="description">
      {{field bio.description editable=true}}
    </div>
  </section>
</form>
